@model ZazasCleaningService.Web.ViewModels.Services.Order.Cart.ServiceOrdersCartInputModel
@{
    ViewData["Title"] = "CompleteServiceCart";
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Administration/Orders/ServicesCart">@Model.Id</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Order</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<div class="py-5">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">
            Order @Model.Id
        </h2>
        <div class="row contact_wthreerow agileits-w3layouts pt-4">
            <div class="col-lg-7 w3l_contact_form">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="IssuedOnPicture">Picture</label>
                        <input asp-for="IssuedOnPicture"
                               type="file"
                               name="IssuedOnPicture"
                               class="form-control"
                               placeholder="IssuedOnPicture"
                               required="">
                        <span asp-validation-for="IssuedOnPicture" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary submit">Complete</button>
                </form>
            </div>
        </div>
    </div>
</div>
