@model List<ZazasCleaningService.Web.ViewModels.Receipts.ServiceReceiptsViewModel>
@{
    ViewData["Title"] = "ServiceReceipts";
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">My Receipts</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<h1 class="text-center mb-4 title-2-agiles">My Service Receipts</h1>
<hr class="hr-2 bg-primary w-50">
@if (Model.Count == 0)
{
    <h4 class="text-center mb-4 title-2-agiles">You have no service receipts.</h4>
    <hr class="hr-2 bg-primary">
}
else
{
    <table class="table table-hover">
        <thead>
            <tr class="row text-primary text-center font-weight-bold">
                <th class="col-md-4 h3">#</th>
                <th class="col-md-2 h3">Issued On</th>
                <th class="col-md-1 h3">Services</th>
                <th class="col-md-3 h3">Details</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="row text-primary text-center font-weight-bold">
                    <td class="col-md-4 h5">@(i + 1)</td>
                    <td class="col-md-2 h5">@Model[i].FormattedCreatedOn</td>
                    <td class="col-md-1 h5">@Model[i].Services</td>
                    <td class="col-md-3">
                        <a href="/Receipts/Details/ServiceDetails/@Model[i].Id" class="btn btn-primary font-weight-bold">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}