@model ZazasCleaningService.Web.ViewModels.Receipts.Details.ServiceReceiptDetailsViewModel
@{
    ViewData["Title"] = "ServiceDetails";
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Receipts/ServiceReceipts">Service Receipts</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<div class="offers-w3ls py-5">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Receipt Service Details</h2>
        <div class="row">
            <div class="col-lg-6 offers-agiles-left">
                <img src="@Model.IssuedOnPicture" alt="" class="img-fluid">
                <div class="p-mask w-50 justify-content-around">
                    <div class="w3l-button text-center">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
                <h4 class="mb-4 title-2-agiles">Order by: @Model.RecipientName</h4>
                <hr />
                <h4 class="mb-4 title-2-agiles">Completed on: @Model.FormattedCreatedOn</h4>
            </div>
        </div>
    </div>
</div>
