@using ZazasCleaningService.Web.ViewModels.Products.Create
@model ZazasCleaningService.Web.ViewModels.Products.Edit.ProductsEditInputModel
@{
    ViewData["Title"] = "Edit";
    var productTypes = (IEnumerable<ProductCreateProductTypesViewModel>)this.ViewData["types"];
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Products/Details/@this.Context.Request.Query["id"]">Products</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<div class="py-5">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Edit Product</h2>
        <div class="row contact_wthreerow agileits-w3layouts pt-4">
            <div class="col-lg-7 w3l_contact_form">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name"
                               type="text"
                               name="Name"
                               class="form-control"
                               placeholder="Name"
                               required="" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div>
                            <label asp-for="ProductTypeName">Product Type</label>
                        </div>
                        <select asp-for="ProductTypeName">
                            @foreach (var type in productTypes)
                            {
                                @if (type.Name == Model.ProductTypeName)
                                {
                                    <option value="@type.Name" selected>@type.Name</option>
                                }
                                else
                                {
                                    <option value="@type.Name">@type.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="ProductTypeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picture"></label>
                        <input asp-for="Picture"
                               type="file"
                               name="Picture"
                               class="form-control"
                               placeholder="Picture"
                               required="" />
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description"
                               type="text"
                               name="Description"
                               class="form-control"
                               placeholder="Description"
                               required="" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary submit">Edit Product</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}