@model List<ZazasCleaningService.Web.ViewModels.Products.All.ProductsAllViewModel>
@{
    ViewData["Title"] = "All";
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<!-- contact -->
<div class="py-5">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Products</h2>
        @foreach (var products in Model)
        {
            <ul class="demo">
                <li>
                    <div class="gallery-grid1">
                        <img src="@products.Picture" alt=" " class="w-50" />
                        <div class="p-mask w-50">
                            <h4>@products.Name</h4>
                            <div class="w3l-button">
                                <a href="#" class="btn btn-sm animated-button victoria-two text-white mt-4">Order</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
    </div>
</div>
<!-- //contact -->