@model List<ZazasCleaningService.Web.ViewModels.Products.All.ProductsAllViewModel>
@{
    this.ViewData["Title"] = "All";
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
@if (this.Model.Count == 0)
{
    <div class="offers-w3ls py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="row">
                <div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
                    <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">
                        Products
                    </h2>
                    <h4 class="text-center text-primary">You have no products.</h4>
                    <hr class="hr-2 bg-primary">
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="py-5">
        <div class="container py-xl-5 py-lg-3">
            <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Products</h2>
            <ul class="demo">
                @foreach (var product in this.Model)
                {
                    <li>
                        <div class="gallery-grid1">
                            <img src="@product.Picture" alt=" " class="img-fluid" />
                            <div class="p-mask">
                                <h4>@product.Name</h4>
                                <div class="w3l-button">
                                    <a href="/Products/Details/@product.Id"
                                       class="btn btn-sm animated-button victoria-two text-white mt-4">Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <hr />
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    @if (this.Model.FirstOrDefault()?.CurrentPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Products/All?page=@(this.Model.FirstOrDefault()?.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= this.Model.FirstOrDefault()?.PagesCount; i++)
                    {
                        var active = i == this.Model.FirstOrDefault()?.CurrentPage ? "active" : string.Empty;
                        <li class="page-item @active">
                            <a class="page-link" href="/Products/All?page=@i">@i</a>
                        </li>
                    }

                    @if (this.Model.LastOrDefault()?.CurrentPage == this.Model.LastOrDefault()?.PagesCount)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Products/All?page=@(this.Model.LastOrDefault()?.CurrentPage + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
}
