@{
    ViewData["Title"] = "ThankYou";
}

<!-- banner 2 -->
<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Thank You</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<!-- contact -->
<div class="py-5">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Thank you for contacting us!</h2>
        <h4 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Expect reply to your email address.</h4>
    </div>
</div>
<!-- //contact -->
