@{
    this.ViewData["Title"] = "Index";
}

<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Offers</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<div class="offers-w3ls py-5">
    <div class="container py-xl-5 py-lg-3">
        <h2 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">Our Best Offers</h2>
        <div class="row">
            <div class="col-lg-6 offers-agiles-left">
                <img src="~/images/offer1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
                <h4 class="mb-4 title-2-agiles">
                    Floor cleaning from
                    <span>$30</span>
                </h4>
                <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="mt-4">
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse
                    cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                    Ut enim ad minim
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-6 offers-agiles-right mt-xl-4 mb-lg-0 mb-4">
                <h4 class="mb-4 title-2-agiles">
                    Extra shiny from
                    <span>$40</span>
                </h4>
                <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="mt-4">
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse
                    cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                    Ut enim ad minim
                </p>
            </div>
            <div class="col-lg-6 offers-agiles-left">
                <img src="~/images/offer2.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offers-agiles-left">
                <img src="~/images/offer3.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
                <h4 class="mb-4 title-2-agiles">
                    Laundry from
                    <span>$30</span>
                </h4>
                <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="mt-4">
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse
                    cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                    Ut enim ad minim
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-6 offers-agiles-right mt-xl-4 mb-lg-0 mb-4">
                <h4 class="mb-4 title-2-agiles">
                    Window cleaning from
                    <span>$20</span>
                </h4>
                <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="mt-4">
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse
                    cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                    Ut enim ad minim
                </p>
            </div>
            <div class="col-lg-6 offers-agiles-left">
                <img src="~/images/offer4.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offers-agiles-left">
                <img src="~/images/offer5.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 offers-agiles-right mt-xl-4 mt-lg-0 mt-4">
                <h4 class="mb-4 title-2-agiles">
                    Excellent Ironing from
                    <span>$25</span>
                </h4>
                <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="mt-4">
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse
                    cillum dolore eu fugiat consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                    Ut enim ad minim
                </p>
            </div>
        </div>
    </div>
</div>
