@{
    ViewData["Title"] = "Index";
}

<div class="banner2-w3ls">

</div>
<!-- //banner 2 -->
<!-- page details -->
<div class="breadcrumb-agile">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>
</div>
<!-- //page details -->
<!-- about -->
<div class="about-w3ls-welcome py-5">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="tittle mb-xl-5 mb-4 text-dark text-uppercase font-weight-bold pl-4 py-3">About Us</h3>
        <div class="row w3ls-welcome-grids">
            <div class="col-xl-4 w3l-welcome-left">
                <h4 class="mb-4 title-2-agiles">Welcome</h4>
                <h5>Mollis porttitor nibh, id pellentesque mauris porta</h5>
                <p class="mt-3">
                    Donec bibendum ligula sit amet auctor vulputate. Maecenas eget erat quis dapibus. Aenean eu
                    scelerisque lacus, et fringilla
                    odio.
                    <span>
                        Sed vestibulum sapien ornare ex sodales, eu feugiat ipsum amet aliquam non, sagittis eget justo. Curabitur
                        mollis hendrerit
                        nunc, id luctus sem vestibulum id.
                    </span>
                </p>
            </div>
            <div class="col-xl-4 w3l-welcome-img my-xl-0 my-4 text-center">
                <img src="images/c1.png" alt="" class="img-fluid">
            </div>
            <div class="col-xl-4 w3l-welcome-left">
                <h4 class="mb-4 title-2-agiles">History of us</h4>
                <h5>Mollis porttitor nibh, id mauris porta et.</h5>
                <p class="mt-3">
                    Duis interdum malesuada nunc, nec vestibulum erat sagittis quis. Nulla eget risus nec ligula
                    volutpat lacinia.
                    <span>Integer eleifend nec ligula vitae feugiat. Nulla eleifend mauris et elementum placerat.</span>
                </p>
                <div class="w3l-button">
                    <a href="single.html" class="btn btn-sm animated-button victoria-two text-dark mt-4">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //about -->